{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Delete Review</h2>

    <p>Are you sure you want to delete the review?</p>
    <p><strong>{{ review.comment }}</strong></p>
    <p>Rating: {{ review.rating }}</p>
    <p>Book: {{ review.book.title }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Review</button>
        <a href="{% url 'user_dashboard' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
